.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50vw;
  background-color: #fff;
  height: 40vh;
}
.modal-header,
.modal-footer {
  padding: 10px;
  background-color: #444546;
}

.modal-title {
  /* margin: 0; */
  /* background-color: cadetblue; */
}

.modal-body {
   /* background-color: #bfbfbf; */
  /* padding: 10px; */
  /* border-top: 1px solid #eee; */
  /* border-bottom: 1px solid #eee; */
}
.modal-header h6{
   color: white;
}
.modal-footer h6{
   color: white;
}

.wid{
   width: 7vw;
}
